body {
  background-color: #5d7894;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  display: flex; /* Enable flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
  margin: 0; /* Remove default margin */
  padding-top: 5px;
}
@media (max-width: 450px) {
  body {
    width: auto;
    height: auto;
  }
}
:root {
  --shaul_color: #2196f3;
  --odeliya_color: #e965d3;
  --user_color: var(--shaul_color);
}
